.container-images {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;

    border-style: double;
    padding: 5px;
}

.container-image {
    width: 270px;
    height: 270px;

    margin-left: 20px;
    margin-right: 20px;

    margin-bottom: 10px;

    border-style: double;
    padding: 3px;

    text-align: center;
}

.image {
    width: 200px;
    height: 200px;

    object-fit: cover;
}

.component-main {
    border-style: double;
    padding: 5px;
    border-color: red;

    margin-top: 30px;
}

.component-no-image {
    width: 100%;
    text-align: center;

    margin-top: 20%;
}

.filters {
    margin-top: 30px;
    margin-left: 20px;
}

.image-info {
    margin-bottom: 12px;
}