<div class="main-container-main" id="main-component">
    <div class="left-main">

        <div class="smiles">
            <div class="smile-1" (click)="smileClick(1)" #smile1></div>
            <div class="smile-2" (click)="smileClick(2)"></div>
            <div class="smile-3" (click)="smileClick(3)"></div>
            <div class="smile-4" (click)="smileClick(4)"></div>
            <div class="smile-5" (click)="smileClick(5)"></div>
            <div class="smile-6" (click)="smileClick(6)"></div>
            <div class="smile-7" (click)="smileClick(7)"></div>
            <div class="smile-8" (click)="smileClick(8)"></div>
            <div class="smile-9" (click)="smileClick(9)"></div>
            <div class="smile-10" (click)="smileClick(10)"></div>
            <div class="smile-11" (click)="smileClick(11)"></div>
            <div class="smile-12" (click)="smileClick(12)"></div>
            <div class="smile-13" (click)="smileClick(13)"></div>
            <div class="smile-14" (click)="smileClick(14)"></div>
            <div class="smile-15" (click)="smileClick(15)"></div>
        </div>

        <div class="rectangles">
            <div class="first-rectangle" #whiteRectangle1></div>
            <div class="second-rectangle" #whiteRectangle2></div>
            <div class="third-rectangle" #whiteRectangle3></div>
        </div>
    </div>
    <div class="right-main">
        <div class="posters">
            <div class="first-poster"></div>
            <div class="second-poster"></div>
            <div class="third-poster"></div>
        </div>
        <div class="button-vote"></div>
    </div>
</div>