<div class="main-container-second">
    <div class="text-modul">
        <div class="text">Киноночь, на которой вы решаете, что смотреть.</div>
    </div>
    <div class="images-modul">
        <div class="first-block">
            <div class="icon-image-first"></div>
            <div class="icon-text-first"></div>
        </div>
        <div class="second-block">
            <div class="icon-image-second"></div>
            <div class="icon-text-second"></div>
        </div>
        <div class="third-block">
            <div class="icon-image-third"></div>
            <div class="icon-text-third"></div>
        </div>
    </div>
    <div class="button-modul">
        <div class="button"></div>
    </div>
</div>